<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PrimeTime</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'primeNumbers/css/styles.css' %}">
</head>
<body>
    <div id="container">
        <!-- <div class="one">.</div> -->
        <div id="numbers">
            <h2>Prime Numbers</h2>
            <h5 id="answer">:</h5>
        </div>
    </div>
</body>
</html>